<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<h1>Register</h1>
<form method="post" action="/user">
    <input name="email" type="text"/>
    <input name="password" type="password"/>
    <input type="submit"/>
</form>

<h1>Log in</h1>
<form method="post" action="/user/log_in">
    <input name="email" type="text"/>
    <input name="password" type="password"/>
    <input type="submit"/>
</form>

</body>
</html> 